@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto" , sans-serif;
}

body{
    background-color: lightsteelblue;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cabecalho h1 {
    color: white;
}

.cabecalho img {
    max-width: 100x;
    max-height: 100px;
    width: auto;
    height: auto;
}

.container_input {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4;
}

.container_input .input{
    width: 400px;
    height: 330px;
}

#input-texto{
    width: 345px;
    height: 330px;
    font-size: 20px;
    color: black;
    background: transparent;
    box-shadow: none;
    outline: 0;
    padding: 10px;
    text-transform: uppercase;
    border: none;
    resize: none;
    padding-left: 80px;
}

#output{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 350px;
    height: 400px;
    margin-right: 3%;

}

#output h2{
    text-align: center;
    font-size: 25px;
    color: black;
}

#output span{
    font-size: 16px;
    text-align: center;
}

#output img{
    max-width: 280px;
    width: auto;
    height: auto;
    margin-top: 4%;
}

.buttons-btn  button{
    border: 2px solid darkblue;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
}

.buttons-btn .btn_criptografa{
    background-color: darkblue;
    color: white;
}

.btn-copiar{
    border: 2px solid darkblue;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
}

.buttons-btn  button:hover{
    border: 2px solid black ; 
    transition: 0.2s all;
}


.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 15px;
    background: darkblue;
    color: white;
}

.rodape h3{
    font-size: 16px;
}

.icones ion-icon {
    width: 25px;
    height: 25px;
    color: white;;

}

.icones ion-icon:hover{
    color: black;
    transition: 0.2s;
}